@page
@model AsyncAcademy.Pages.Section_Page.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StudentCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StudentCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StudentsEnrolled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StudentsEnrolled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.MeetingTimeInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.MeetingTimeInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.EndDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Course.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
