@page
@model AsyncAcademy.Pages.Course_Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
<h1>Details</h1>

<div class="course-container">
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CreditHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CreditHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.InstructorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.InstructorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StudentCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StudentCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StudentsEnrolled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StudentsEnrolled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.MeetingTimeInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.MeetingTimeInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course.Id">Edit</a> |
    <a asp-page="StudentIndex">Back to List</a>
</div>
</body>

<style>
    body {
        background-color: #dcdedc;
        font-family: 'Ubuntu', sans-serif;
    }
    .course-container {
        border: solid 3px #ccc; /* lighter gray */
        border-radius: 1.5em;
        margin-bottom: 10px;
        padding: 10px;
        background-color: white;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        font-family: 'Ubuntu', sans-serif;
    }
</style>