@page
@model AsyncAcademy.Pages.ChartsModel
@{
    ViewData["Title"] = "Charts";

}

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawBarChart);
        google.charts.setOnLoadCallback(drawPieChart);

        function drawBarChart() {

            var data = google.visualization.arrayToDataTable([
                ['Letter Grade', 'Number of Students', { role: 'style' }],
                ['A', @Model.numA, 'CornflowerBlue'],
                ['B', @Model.numB, 'CornflowerBlue'],
                ['C', @Model.numC, 'CornflowerBlue'],
                ['D', @Model.numD, 'CornflowerBlue'],
                ['F', @Model.numF, 'CornflowerBlue'],
                ['Not Yet Graded', @Model.numUG,'IndianRed']
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: function (dt, row) {
                        return (dt.getValue(row, 1) / @Model.numSub * 100).toFixed(1) + '%';
                    },
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },
                2]);

            var options = {
                legend: { position: 'none' },
                vAxis: {
                    title: 'Number of Students'
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('columnchart_values'));

            chart.draw(view, options);
        }

        function drawPieChart() {

            var data = google.visualization.arrayToDataTable([
                ['Status', 'Submitted'],
                ['Submitted', @Model.numSub],
                ['Not Submitted', @Model.numNotSub]
            ]);

            var options = {
                legend: 'bottom',
                pieSliceText: 'value',
                colors: ['CornflowerBlue', 'IndianRed']
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <table class="columns" style="width:100%">
        <tr>
            <th style="width:70%">Student Performance by Letter Grade</th>
            <th>Submission Status</th>
        </tr>
        <tr>
            <td><div id="columnchart_values" style="border: 1px solid #ccc;"></div></td>
            <td><div id="piechart" style="border: 1px solid #ccc;"></div></td>
        </tr>
    </table>
</body>
</html>
