@page
@model AsyncAcademy.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    bool isEditable = Model.isEditable;
}

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>

<h2>@ViewData["Title"]</h2>




<form method="post" enctype = "multipart/form-data">
    <div class="profile-container">


@if(!isEditable)
{
    <div class="image-container">
                <h3>Current Profile Image</h3>
                <div id="profile image">
                    <img class="profile-pic" src=@Model.Account.ProfilePath>
                </div>
            </div>

            <style>
                .profile-pic 
                {
                    width: 150px;         
                    height: 150px;        
                    object-fit: cover;    
                    border-radius: 50%;   
                    margin-bottom: 10px;  
                }
            </style>

            

     <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">First Name:</label>
            <div class="col-sm-10">
                    <p class="form-control-plaintext"> @Model.Account.FirstName</p>
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-10">
                    <p>@Model.Account.LastName</p>
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                    <p>@Model.Account.Mail</p>
            </div>
    </div>
     
     

    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Date of Birth:</label>
            <div class="col-sm-10">
                    <p>@Model.Account.Birthday.Date</p>
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Account Type:</label>
            <div class="col-sm-10">
                    <p>@Model.accountType</p>
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Street Address:</label>
            <div class="col-sm-10">
                    <p>@Model.Account.Addr_Street</p>
            </div>
    </div>



    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">City:</label>
            <div class="col-sm-10">
                    <p>@Model.Account.Addr_City</p>
            </div>
    </div>

    
    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">State:</label>
            <div class="col-sm-10">
                    <p>@Model.Account.Addr_State</p>
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">ZipCode:</label>
            <div class="col-sm-10">
                    <p>@Model.Account.Addr_Zip</p>
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Phone Number:</label>
            <div class="col-sm-10">
                    <p>@Model.Account.Phone</p>

            </div>
    </div>





    <button type="submit" name="action" value="Edit" class="btn btn-primary">Edit</button>
    
}


else
{
    <div class="image-container">
        <h3>Current Profile Image</h3>
            <div id="profile image">
                <img class ="profile-pic" src=@Model.Account.ProfilePath>
            </div>
                <input type="file" asp-for="myFile" />
                <span class="text-danger">@Html.ValidationMessage("ImageError")</span>
            </div>

            <style>


                .profile-pic 
                {
                    width: 150px;         
                    height: 150px;        
                    object-fit: cover;    
                    border-radius: 50%;   
                    margin-bottom: 10px;  
                }
            </style>



    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">First Name:</label>
            <div class="col-sm-10">
                    <input type="text" name="Account.FirstName" value="@Model.Account.FirstName" />
                    <span asp-validation-for="Account.FirstName" class="text-danger"></span>
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-10">
                    <input type="text" name="Account.LastName" value="@Model.Account.LastName" />
                    <span asp-validation-for="Account.LastName" class="text-danger"></span>
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                    <p>@Model.Account.Mail</p>
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Account Type:</label>
            <div class="col-sm-10">
                    <p>@Model.accountType</p>
            </div>
    </div>

     
     

    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Date of Birth:</label>
            <div class="col-sm-10">
                    <input type="date" name="Account.Birthday" value="@Model.Account.Birthday.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Account.Birthday" class="text-danger"></span> <!-- Validation for birthday -->
            </div>
    </div>




    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Street Address:</label>
            <div class="col-sm-10">
                    <input type="text" name="Account.Addr_Street" value="@Model.Account.Addr_Street" />
                    <span asp-validation-for="Account.Addr_Street" class="text-danger"></span>
            </div>
    </div>



    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">City:</label>
            <div class="col-sm-10">
                    <input type="text" name="Account.Addr_City" value="@Model.Account.Addr_City" />
                    <span asp-validation-for="Account.Addr_City" class="text-danger"></span>
            </div>
    </div>

    
    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">State:</label>
            <div class="col-sm-10">
                   <input type="text" name="Account.Addr_State" value="@Model.Account.Addr_State" />
                   <span asp-validation-for="Account.Addr_State" class="text-danger"></span> 
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">ZipCode:</label>
            <div class="col-sm-10">
                    <input type="text" name="Account.Addr_Zip" value="@Model.Account.Addr_Zip" />
                    <span asp-validation-for="Account.Addr_Zip" class="text-danger"></span>
            </div>
    </div>


    <div class="form-group row"> 
        <label class="col-sm-2 col-form-label">Phone Number:</label>
            <div class="col-sm-10">
                    <input type="text" name="Account.Phone" value="@Model.Account.Phone" />
                    <span asp-validation-for="Account.Phone" class="text-danger"></span>

            </div>
    </div>


    
    <input type="hidden" name="Account.Mail" value="@Model.Account.Mail" />
    <input type="hidden" name="Account.Pass" value="@Model.Account.Pass" />
    <input type="hidden" name="Account.Username" value="@Model.Account.Username" />
    <input type="hidden" name="Account.ConfirmPass" value="@Model.Account.ConfirmPass" />

     <button type="submit" name="action" value="Save" class="btn btn-success">Save</button>


}

</div>
</form>

</body>

<style>
    body {
        background-color: #dcdedc;
        font-family: 'Ubuntu', sans-serif;
    }

    .profile-container {
        font-family: 'Ubuntu', sans-serif;
        border: solid 3px #ddd;
        border-radius: 1.5em;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        background: #FFFFFF
    }

</style>