@page
@model AsyncAcademy.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="row">
    <div class="col-md-8">
        <div class="text-center">
            <h1 class="display-4">@ViewData["WelcomeText"]</h1>
        </div>

        @for (int i = 0; i < Model.EnrolledCourses.Count; i++)
        {
            var e = Model.EnrolledCourses[i];
    
            <div class="class-cards">
                <h1><a asp-page="/ClassOverview" asp-route-courseId="@e.Id">@e.Department @e.CourseNumber</a></h1>
                <br>
                @e.Name
                <br>
                @e.MeetingTimeInfo
                <br>
                @e.Location
            </div>
        }
    </div>

    <div class="col-md-4">
        <div class="todo-list">
            <h2>To-Do List</h2>
            @if (Model.ToDoList.Count == 0)
            {
                <p>No upcoming stuff! Take a quick break!</p>
            }
            else
            {
                @foreach (var item in Model.ToDoList)
                {
                    <div class="card todo-card">
                        <div class="card-body">
                            <p>@item.Course</p>
                            <p>@item.Assignment</p>
                            <p>@item.DueDate.ToString("MMMM dd, yyyy h:mm tt")</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</div>

<style>
    .todo-list {
        margin-top: 20px;
        background-color: #1c1c1c;
        color: white;
    }

    .todo-card {
        margin-bottom: 10px;
        padding: 10px;
        border: solid 1px #ddd;
        border-radius: 5px;
        color: white;
        background-color: black;
    }

    div.class-cards {
        border: solid 3px #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
    }
</style>
