@page
@model AsyncAcademy.Pages.Assignments.IndexModel

@{
    ViewData["Title"] = "Assignments";
}
<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
<h1>Assignments</h1>

<p>
    @if (Model.Account.IsProfessor)
    {
        <a asp-page="/Assignments/Create" asp-route-courseId="@Model.Course.Id">Create New</a>
    }
</p>
<div class="assignment-container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].MaxPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Due)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assignment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Due)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                    @if (Model.Account.IsProfessor)
                    {
                      <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                      <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                      <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                    }
                    @if (!Model.Account.IsProfessor) {
                        <!--<a asp-page="./Details" asp-route-id="@item.Id">Details</a>-->
                        @if (item.Type == "File Submission")
                        {
                            <a asp-page="./SubmitFile" asp-route-id="@item.Id" class="btn btn-success">Submit</a>

                        }
                        @if (item.Type == "textentry" || item.Type == "Text Entry" || item.Type == "URL") { 
                            <a asp-page="./Submit" asp-route-id="@item.Id" class="btn btn-success">Submit</a>
                        }
                        
                        
                    }
            </td>
        </tr>
}
    </tbody>
</table>
 </div>
 </body>

 <style>
    body {
        background-color: #dcdedc;
        font-family: 'Ubuntu', sans-serif;
    }

    .assignment-container {
        border: solid 3px #ccc; /* lighter gray */
        border-radius: 1.5em;
        margin-bottom: 10px;
        padding: 10px;
        background-color: white;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        font-family: 'Ubuntu', sans-serif;
    }
 </style>
