@page
@model AsyncAcademy.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h2>@ViewData["Title"]</h2>

<div class="profile-container">
    <h3>Profile Details:</h3>
    <p>First Name: @Model.Account.FirstName</p>
    <p>Last Name: @Model.Account.LastName</p>
    <p>Email: @Model.Account.Mail</p>
    <p>Birthday: @Model.Account.Birthday.Date</p>
    <p>Account Type: @Model.accountType</p>
</div>
